@{
    ViewBag.Title = "About";
}

<section class="about">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>

    <img class="intro" src="http://www.placehold.it/720x300" alt="Greetings"/>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus hendrerit lacus, quis ornare augue cursus non. Integer id sollicitudin enim, et blandit orci. Pellentesque molestie maximus orci, vitae tempus diam aliquam mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras dolor odio, fringilla aliquam lobortis ac, pellentesque fermentum sem. Integer ac dictum lacus. Aliquam pharetra, magna quis suscipit laoreet, sem sem lobortis massa, sed vulputate massa ligula sed nulla. In in pharetra turpis, tempus ultricies massa. Vivamus ut euismod ex. Curabitur feugiat sem ut sodales convallis. Nunc posuere vitae dui sed rutrum. Fusce a nibh egestas, pellentesque justo eget, eleifend eros. Nulla mauris nibh, semper quis placerat in, rhoncus vitae velit. Etiam tempus posuere dapibus.
    </p>
    <p>
        Cras at placerat tortor, a suscipit dui. Proin eget nisi quis enim gravida dictum sit amet non purus. Proin ac urna rhoncus, tristique velit eget, varius velit. Praesent a cursus dui. Pellentesque ultricies suscipit dui nec aliquet. Donec luctus suscipit nisi et gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean faucibus vestibulum iaculis. Pellentesque non iaculis odio. Etiam felis justo, facilisis a ipsum at, maximus ultrices sapien. Curabitur at eros at ipsum porta ultricies id sed mi. Donec pulvinar varius tristique. Pellentesque lacus leo, mollis eu lorem eu, sollicitudin imperdiet tortor.
    </p>
    <p>
        Sed scelerisque quis risus vel mollis. Duis molestie efficitur ipsum vel malesuada. Maecenas commodo neque nec lectus suscipit, id suscipit mi eleifend. Nulla facilisi. Suspendisse potenti. Vestibulum sed imperdiet leo. Donec imperdiet feugiat leo, in volutpat odio congue et. Nunc sit amet nunc aliquet, cursus neque non, porttitor purus. Donec eu nisi nulla. Vestibulum in ullamcorper leo. Nullam condimentum vel purus sit amet lacinia.
    </p>
    <p>
        Nulla quis tellus imperdiet, vulputate enim in, dignissim magna. Aenean nec lobortis sapien. Integer et bibendum augue. Proin finibus sapien sit amet tellus aliquet congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus eu sagittis urna, a ullamcorper libero. In faucibus, erat eu vestibulum blandit, nulla diam imperdiet felis, vestibulum varius tellus nibh quis dui. Maecenas eu ligula congue arcu iaculis efficitur. Pellentesque erat ex, interdum in erat id, commodo faucibus massa.
    </p>
    <p>
        Fusce ut magna consequat, dapibus tortor eu, laoreet sapien. Praesent fringilla massa nisi, vitae egestas mauris tristique ut. Fusce auctor tortor ac nibh interdum, fringilla fringilla diam dapibus. Cras nibh elit, rutrum vel sapien nec, facilisis varius eros. Proin suscipit velit sit amet lacinia ornare. Integer in nulla et odio tincidunt dictum. Vivamus dictum pharetra faucibus. Quisque eu mauris quis augue vulputate condimentum eu nec diam. Suspendisse scelerisque fringilla lectus, ut egestas augue hendrerit ac. Etiam et ante nunc.
    </p>
</section>