@font-face {
  font-family: 'appicons';
  src: url('/Assets/fonts/appicons.eot?72057538');
  src: url('/Assets/fonts/appicons.eot?72057538#iefix') format('embedded-opentype'),
       url('/Assets/fonts/appicons.woff?72057538') format('woff'),
       url('/Assets/fonts/appicons.ttf?72057538') format('truetype'),
       url('/Assets/fonts/appicons.svg?72057538#appicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'appicons';
    src: url('../font/appicons.svg?72057538#appicons') format('svg');
  }
}
*/
 
 [class^="appicon-"]:before, [class*=" appicon-"]:before {
  font-family: "appicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.appicon-glass:before { content: '\e800'; } /* '' */
.appicon-music:before { content: '\e801'; } /* '' */
.appicon-search-1:before { content: '\e802'; } /* '' */
.appicon-mail-1:before { content: '\e803'; } /* '' */
.appicon-mail-alt:before { content: '\e804'; } /* '' */
.appicon-mail-squared:before { content: '\e805'; } /* '' */
.appicon-heart-1:before { content: '\e806'; } /* '' */
.appicon-heart-empty-1:before { content: '\e807'; } /* '' */
.appicon-star-1:before { content: '\e808'; } /* '' */
.appicon-star-empty:before { content: '\e809'; } /* '' */
.appicon-star-half:before { content: '\e80a'; } /* '' */
.appicon-star-half-alt:before { content: '\e80b'; } /* '' */
.appicon-user-1:before { content: '\e80c'; } /* '' */
.appicon-user-plus:before { content: '\e80d'; } /* '' */
.appicon-user-times:before { content: '\e80e'; } /* '' */
.appicon-users:before { content: '\e80f'; } /* '' */
.appicon-male:before { content: '\e810'; } /* '' */
.appicon-female:before { content: '\e811'; } /* '' */
.appicon-child:before { content: '\e812'; } /* '' */
.appicon-video-1:before { content: '\e813'; } /* '' */
.appicon-videocam:before { content: '\e814'; } /* '' */
.appicon-picture-1:before { content: '\e815'; } /* '' */
.appicon-camera:before { content: '\e816'; } /* '' */
.appicon-camera-alt:before { content: '\e817'; } /* '' */
.appicon-th-large-1:before { content: '\e818'; } /* '' */
.appicon-th-1:before { content: '\e819'; } /* '' */
.appicon-th-list-1:before { content: '\e81a'; } /* '' */
.appicon-ok-1:before { content: '\e81b'; } /* '' */
.appicon-ok-circled:before { content: '\e81c'; } /* '' */
.appicon-ok-circled2:before { content: '\e81d'; } /* '' */
.appicon-ok-squared:before { content: '\e81e'; } /* '' */
.appicon-cancel-1:before { content: '\e81f'; } /* '' */
.appicon-cancel-circled:before { content: '\e820'; } /* '' */
.appicon-cancel-circled2:before { content: '\e821'; } /* '' */
.appicon-plus:before { content: '\e822'; } /* '' */
.appicon-plus-circled:before { content: '\e823'; } /* '' */
.appicon-plus-squared:before { content: '\e824'; } /* '' */
.appicon-plus-squared-alt:before { content: '\e825'; } /* '' */
.appicon-minus-circled:before { content: '\e826'; } /* '' */
.appicon-minus-squared:before { content: '\e827'; } /* '' */
.appicon-minus-squared-alt:before { content: '\e828'; } /* '' */
.appicon-help:before { content: '\e829'; } /* '' */
.appicon-help-circled:before { content: '\e82a'; } /* '' */
.appicon-info-circled:before { content: '\e82b'; } /* '' */
.appicon-info:before { content: '\e82c'; } /* '' */
.appicon-home:before { content: '\e82d'; } /* '' */
.appicon-link-1:before { content: '\e82e'; } /* '' */
.appicon-unlink:before { content: '\e82f'; } /* '' */
.appicon-link-ext:before { content: '\e830'; } /* '' */
.appicon-link-ext-alt:before { content: '\e831'; } /* '' */
.appicon-attach-1:before { content: '\e832'; } /* '' */
.appicon-lock-1:before { content: '\e833'; } /* '' */
.appicon-lock-open-1:before { content: '\e834'; } /* '' */
.appicon-lock-open-alt:before { content: '\e835'; } /* '' */
.appicon-pin:before { content: '\e836'; } /* '' */
.appicon-eye:before { content: '\e837'; } /* '' */
.appicon-eye-off:before { content: '\e838'; } /* '' */
.appicon-tags:before { content: '\e839'; } /* '' */
.appicon-bookmark:before { content: '\e83a'; } /* '' */
.appicon-bookmark-empty:before { content: '\e83b'; } /* '' */
.appicon-flag:before { content: '\e83c'; } /* '' */
.appicon-flag-empty:before { content: '\e83d'; } /* '' */
.appicon-flag-checkered:before { content: '\e83e'; } /* '' */
.appicon-thumbs-up:before { content: '\e83f'; } /* '' */
.appicon-thumbs-down:before { content: '\e840'; } /* '' */
.appicon-thumbs-up-alt:before { content: '\e841'; } /* '' */
.appicon-thumbs-down-alt:before { content: '\e842'; } /* '' */
.appicon-download:before { content: '\e843'; } /* '' */
.appicon-upload:before { content: '\e844'; } /* '' */
.appicon-download-cloud:before { content: '\e845'; } /* '' */
.appicon-upload-cloud:before { content: '\e846'; } /* '' */
.appicon-reply-1:before { content: '\e847'; } /* '' */
.appicon-reply-all-1:before { content: '\e848'; } /* '' */
.appicon-forward-1:before { content: '\e849'; } /* '' */
.appicon-quote-left:before { content: '\e84a'; } /* '' */
.appicon-quote-right:before { content: '\e84b'; } /* '' */
.appicon-export:before { content: '\e84c'; } /* '' */
.appicon-export-alt:before { content: '\e84d'; } /* '' */
.appicon-share:before { content: '\e84e'; } /* '' */
.appicon-share-squared:before { content: '\e84f'; } /* '' */
.appicon-pencil:before { content: '\e850'; } /* '' */
.appicon-pencil-squared:before { content: '\e851'; } /* '' */
.appicon-edit:before { content: '\e852'; } /* '' */
.appicon-print-1:before { content: '\e853'; } /* '' */
.appicon-retweet-1:before { content: '\e854'; } /* '' */
.appicon-keyboard:before { content: '\e855'; } /* '' */
.appicon-gamepad:before { content: '\e856'; } /* '' */
.appicon-comment-1:before { content: '\e857'; } /* '' */
.appicon-chat-1:before { content: '\e858'; } /* '' */
.appicon-comment-empty:before { content: '\e859'; } /* '' */
.appicon-chat-empty:before { content: '\e85a'; } /* '' */
.appicon-bell:before { content: '\e85b'; } /* '' */
.appicon-bell-alt:before { content: '\e85c'; } /* '' */
.appicon-bell-off:before { content: '\e85d'; } /* '' */
.appicon-bell-off-empty:before { content: '\e85e'; } /* '' */
.appicon-attention-1:before { content: '\e85f'; } /* '' */
.appicon-attention-circled:before { content: '\e860'; } /* '' */
.appicon-location-1:before { content: '\e861'; } /* '' */
.appicon-direction:before { content: '\e862'; } /* '' */
.appicon-compass:before { content: '\e863'; } /* '' */
.appicon-trash:before { content: '\e864'; } /* '' */
.appicon-trash-empty:before { content: '\e865'; } /* '' */
.appicon-doc-1:before { content: '\e866'; } /* '' */
.appicon-docs:before { content: '\e867'; } /* '' */
.appicon-doc-text:before { content: '\e868'; } /* '' */
.appicon-doc-inv:before { content: '\e869'; } /* '' */
.appicon-doc-text-inv:before { content: '\e86a'; } /* '' */
.appicon-file-pdf:before { content: '\e86b'; } /* '' */
.appicon-file-word:before { content: '\e86c'; } /* '' */
.appicon-file-excel:before { content: '\e86d'; } /* '' */
.appicon-file-powerpoint:before { content: '\e86e'; } /* '' */
.appicon-file-image:before { content: '\e86f'; } /* '' */
.appicon-file-archive:before { content: '\e870'; } /* '' */
.appicon-file-audio:before { content: '\e871'; } /* '' */
.appicon-file-code:before { content: '\e872'; } /* '' */
.appicon-folder-1:before { content: '\e873'; } /* '' */
.appicon-folder-open:before { content: '\e874'; } /* '' */
.appicon-folder-empty:before { content: '\e875'; } /* '' */
.appicon-folder-open-empty:before { content: '\e876'; } /* '' */
.appicon-box:before { content: '\e877'; } /* '' */
.appicon-rss-2:before { content: '\e878'; } /* '' */
.appicon-rss-squared:before { content: '\e879'; } /* '' */
.appicon-phone:before { content: '\e87a'; } /* '' */
.appicon-phone-squared:before { content: '\e87b'; } /* '' */
.appicon-fax:before { content: '\e87c'; } /* '' */
.appicon-menu:before { content: '\e87d'; } /* '' */
.appicon-cog-1:before { content: '\e87e'; } /* '' */
.appicon-cog-alt:before { content: '\e87f'; } /* '' */
.appicon-wrench:before { content: '\e880'; } /* '' */
.appicon-sliders:before { content: '\e881'; } /* '' */
.appicon-basket:before { content: '\e882'; } /* '' */
.appicon-cart-plus:before { content: '\e883'; } /* '' */
.appicon-cart-arrow-down:before { content: '\e884'; } /* '' */
.appicon-calendar-empty:before { content: '\e885'; } /* '' */
.appicon-login-1:before { content: '\e886'; } /* '' */
.appicon-logout-1:before { content: '\e887'; } /* '' */
.appicon-mic:before { content: '\e888'; } /* '' */
.appicon-mute:before { content: '\e889'; } /* '' */
.appicon-volume-off:before { content: '\e88a'; } /* '' */
.appicon-volume-down:before { content: '\e88b'; } /* '' */
.appicon-volume-up:before { content: '\e88c'; } /* '' */
.appicon-headphones:before { content: '\e88d'; } /* '' */
.appicon-clock-1:before { content: '\e88e'; } /* '' */
.appicon-lightbulb:before { content: '\e88f'; } /* '' */
.appicon-block-1:before { content: '\e890'; } /* '' */
.appicon-resize-full-1:before { content: '\e891'; } /* '' */
.appicon-resize-full-alt:before { content: '\e892'; } /* '' */
.appicon-resize-small:before { content: '\e893'; } /* '' */
.appicon-resize-vertical:before { content: '\e894'; } /* '' */
.appicon-resize-horizontal:before { content: '\e895'; } /* '' */
.appicon-move:before { content: '\e896'; } /* '' */
.appicon-zoom-in:before { content: '\e897'; } /* '' */
.appicon-down-circled2:before { content: '\e898'; } /* '' */
.appicon-up-circled2:before { content: '\e899'; } /* '' */
.appicon-left-circled2:before { content: '\e89a'; } /* '' */
.appicon-right-circled2:before { content: '\e89b'; } /* '' */
.appicon-down-dir-1:before { content: '\e89c'; } /* '' */
.appicon-up-dir:before { content: '\e89d'; } /* '' */
.appicon-left-dir:before { content: '\e89e'; } /* '' */
.appicon-right-dir-1:before { content: '\e89f'; } /* '' */
.appicon-down-open:before { content: '\e8a0'; } /* '' */
.appicon-left-open-1:before { content: '\e8a1'; } /* '' */
.appicon-right-open-1:before { content: '\e8a2'; } /* '' */
.appicon-up-open:before { content: '\e8a3'; } /* '' */
.appicon-angle-left:before { content: '\e8a4'; } /* '' */
.appicon-angle-right:before { content: '\e8a5'; } /* '' */
.appicon-angle-up:before { content: '\e8a6'; } /* '' */
.appicon-angle-down:before { content: '\e8a7'; } /* '' */
.appicon-angle-circled-left:before { content: '\e8a8'; } /* '' */
.appicon-angle-circled-right:before { content: '\e8a9'; } /* '' */
.appicon-angle-circled-up:before { content: '\e8aa'; } /* '' */
.appicon-angle-double-left:before { content: '\e8ab'; } /* '' */
.appicon-angle-double-right:before { content: '\e8ac'; } /* '' */
.appicon-angle-double-up:before { content: '\e8ad'; } /* '' */
.appicon-angle-double-down:before { content: '\e8ae'; } /* '' */
.appicon-down:before { content: '\e8af'; } /* '' */
.appicon-left:before { content: '\e8b0'; } /* '' */
.appicon-right:before { content: '\e8b1'; } /* '' */
.appicon-up:before { content: '\e8b2'; } /* '' */
.appicon-down-big:before { content: '\e8b3'; } /* '' */
.appicon-left-big:before { content: '\e8b4'; } /* '' */
.appicon-right-big:before { content: '\e8b5'; } /* '' */
.appicon-up-big:before { content: '\e8b6'; } /* '' */
.appicon-right-hand:before { content: '\e8b7'; } /* '' */
.appicon-left-hand:before { content: '\e8b8'; } /* '' */
.appicon-up-hand:before { content: '\e8b9'; } /* '' */
.appicon-down-hand:before { content: '\e8ba'; } /* '' */
.appicon-left-circled:before { content: '\e8bb'; } /* '' */
.appicon-right-circled:before { content: '\e8bc'; } /* '' */
.appicon-up-circled:before { content: '\e8bd'; } /* '' */
.appicon-cw:before { content: '\e8be'; } /* '' */
.appicon-ccw:before { content: '\e8bf'; } /* '' */
.appicon-arrows-cw-1:before { content: '\e8c0'; } /* '' */
.appicon-level-up:before { content: '\e8c1'; } /* '' */
.appicon-level-down:before { content: '\e8c2'; } /* '' */
.appicon-shuffle:before { content: '\e8c3'; } /* '' */
.appicon-exchange:before { content: '\e8c4'; } /* '' */
.appicon-history:before { content: '\e8c5'; } /* '' */
.appicon-expand:before { content: '\e8c6'; } /* '' */
.appicon-collapse:before { content: '\e8c7'; } /* '' */
.appicon-expand-right:before { content: '\e8c8'; } /* '' */
.appicon-collapse-left:before { content: '\e8c9'; } /* '' */
.appicon-play:before { content: '\e8ca'; } /* '' */
.appicon-play-circled:before { content: '\e8cb'; } /* '' */
.appicon-play-circled2:before { content: '\e8cc'; } /* '' */
.appicon-stop:before { content: '\e8cd'; } /* '' */
.appicon-pause:before { content: '\e8ce'; } /* '' */
.appicon-to-end:before { content: '\e8cf'; } /* '' */
.appicon-to-end-alt:before { content: '\e8d0'; } /* '' */
.appicon-to-start-alt:before { content: '\e8d1'; } /* '' */
.appicon-fast-fw:before { content: '\e8d2'; } /* '' */
.appicon-fast-bw:before { content: '\e8d3'; } /* '' */
.appicon-eject:before { content: '\e8d4'; } /* '' */
.appicon-target-1:before { content: '\e8d5'; } /* '' */
.appicon-signal-1:before { content: '\e8d6'; } /* '' */
.appicon-wifi:before { content: '\e8d7'; } /* '' */
.appicon-award:before { content: '\e8d8'; } /* '' */
.appicon-desktop:before { content: '\e8d9'; } /* '' */
.appicon-laptop:before { content: '\e8da'; } /* '' */
.appicon-tablet:before { content: '\e8db'; } /* '' */
.appicon-mobile:before { content: '\e8dc'; } /* '' */
.appicon-inbox:before { content: '\e8dd'; } /* '' */
.appicon-globe:before { content: '\e8de'; } /* '' */
.appicon-sun:before { content: '\e8df'; } /* '' */
.appicon-cloud-1:before { content: '\e8e0'; } /* '' */
.appicon-flash:before { content: '\e8e1'; } /* '' */
.appicon-moon:before { content: '\e8e2'; } /* '' */
.appicon-umbrella:before { content: '\e8e3'; } /* '' */
.appicon-fighter-jet:before { content: '\e8e4'; } /* '' */
.appicon-paper-plane:before { content: '\e8e5'; } /* '' */
.appicon-paper-plane-empty:before { content: '\e8e6'; } /* '' */
.appicon-space-shuttle:before { content: '\e8e7'; } /* '' */
.appicon-leaf:before { content: '\e8e8'; } /* '' */
.appicon-font-1:before { content: '\e8e9'; } /* '' */
.appicon-bold:before { content: '\e8ea'; } /* '' */
.appicon-medium:before { content: '\e8eb'; } /* '' */
.appicon-italic:before { content: '\e8ec'; } /* '' */
.appicon-header:before { content: '\e8ed'; } /* '' */
.appicon-paragraph:before { content: '\e8ee'; } /* '' */
.appicon-text-height:before { content: '\e8ef'; } /* '' */
.appicon-text-width:before { content: '\e8f0'; } /* '' */
.appicon-align-left:before { content: '\e8f1'; } /* '' */
.appicon-align-center:before { content: '\e8f2'; } /* '' */
.appicon-align-right:before { content: '\e8f3'; } /* '' */
.appicon-align-justify:before { content: '\e8f4'; } /* '' */
.appicon-list-1:before { content: '\e8f5'; } /* '' */
.appicon-indent-left-1:before { content: '\e8f6'; } /* '' */
.appicon-list-bullet:before { content: '\e8f7'; } /* '' */
.appicon-list-numbered-1:before { content: '\e8f8'; } /* '' */
.appicon-strike:before { content: '\e8f9'; } /* '' */
.appicon-underline:before { content: '\e8fa'; } /* '' */
.appicon-superscript:before { content: '\e8fb'; } /* '' */
.appicon-subscript:before { content: '\e8fc'; } /* '' */
.appicon-table:before { content: '\e8fd'; } /* '' */
.appicon-columns:before { content: '\e8fe'; } /* '' */
.appicon-crop:before { content: '\e8ff'; } /* '' */
.appicon-scissors:before { content: '\e900'; } /* '' */
.appicon-paste:before { content: '\e901'; } /* '' */
.appicon-briefcase:before { content: '\e902'; } /* '' */
.appicon-suitcase:before { content: '\e903'; } /* '' */
.appicon-ellipsis:before { content: '\e904'; } /* '' */
.appicon-ellipsis-vert:before { content: '\e905'; } /* '' */
.appicon-off:before { content: '\e906'; } /* '' */
.appicon-road:before { content: '\e907'; } /* '' */
.appicon-list-alt:before { content: '\e908'; } /* '' */
.appicon-qrcode:before { content: '\e909'; } /* '' */
.appicon-book:before { content: '\e90a'; } /* '' */
.appicon-ajust:before { content: '\e90b'; } /* '' */
.appicon-tint:before { content: '\e90c'; } /* '' */
.appicon-toggle-off:before { content: '\e90d'; } /* '' */
.appicon-toggle-on:before { content: '\e90e'; } /* '' */
.appicon-check:before { content: '\e90f'; } /* '' */
.appicon-check-empty:before { content: '\e910'; } /* '' */
.appicon-circle:before { content: '\e911'; } /* '' */
.appicon-circle-empty:before { content: '\e912'; } /* '' */
.appicon-circle-thin:before { content: '\e913'; } /* '' */
.appicon-circle-notch:before { content: '\e914'; } /* '' */
.appicon-dot-circled:before { content: '\e915'; } /* '' */
.appicon-asterisk:before { content: '\e916'; } /* '' */
.appicon-gift:before { content: '\e917'; } /* '' */
.appicon-fire:before { content: '\e918'; } /* '' */
.appicon-magnet:before { content: '\e919'; } /* '' */
.appicon-chart-bar:before { content: '\e91a'; } /* '' */
.appicon-chart-area:before { content: '\e91b'; } /* '' */
.appicon-chart-pie:before { content: '\e91c'; } /* '' */
.appicon-ticket:before { content: '\e91d'; } /* '' */
.appicon-credit-card:before { content: '\e91e'; } /* '' */
.appicon-floppy:before { content: '\e91f'; } /* '' */
.appicon-megaphone:before { content: '\e920'; } /* '' */
.appicon-hdd:before { content: '\e921'; } /* '' */
.appicon-key:before { content: '\e922'; } /* '' */
.appicon-fork:before { content: '\e923'; } /* '' */
.appicon-rocket:before { content: '\e924'; } /* '' */
.appicon-bug:before { content: '\e925'; } /* '' */
.appicon-certificate:before { content: '\e926'; } /* '' */
.appicon-tasks:before { content: '\e927'; } /* '' */
.appicon-filter:before { content: '\e928'; } /* '' */
.appicon-beaker:before { content: '\e929'; } /* '' */
.appicon-magic:before { content: '\e92a'; } /* '' */
.appicon-cab:before { content: '\e92b'; } /* '' */
.appicon-taxi:before { content: '\e92c'; } /* '' */
.appicon-truck:before { content: '\e92d'; } /* '' */
.appicon-bus:before { content: '\e92e'; } /* '' */
.appicon-bicycle:before { content: '\e92f'; } /* '' */
.appicon-train:before { content: '\e930'; } /* '' */
.appicon-subway:before { content: '\e931'; } /* '' */
.appicon-ship:before { content: '\e932'; } /* '' */
.appicon-money:before { content: '\e933'; } /* '' */
.appicon-euro:before { content: '\e934'; } /* '' */
.appicon-pound:before { content: '\e935'; } /* '' */
.appicon-dollar:before { content: '\e936'; } /* '' */
.appicon-rupee:before { content: '\e937'; } /* '' */
.appicon-yen:before { content: '\e938'; } /* '' */
.appicon-rouble:before { content: '\e939'; } /* '' */
.appicon-shekel:before { content: '\e93a'; } /* '' */
.appicon-try:before { content: '\e93b'; } /* '' */
.appicon-won:before { content: '\e93c'; } /* '' */
.appicon-bitcoin-1:before { content: '\e93d'; } /* '' */
.appicon-viacoin:before { content: '\e93e'; } /* '' */
.appicon-sort:before { content: '\e93f'; } /* '' */
.appicon-sort-down:before { content: '\e940'; } /* '' */
.appicon-sort-up:before { content: '\e941'; } /* '' */
.appicon-sort-alt-up:before { content: '\e942'; } /* '' */
.appicon-sort-name-up:before { content: '\e943'; } /* '' */
.appicon-sort-name-down:before { content: '\e944'; } /* '' */
.appicon-sort-number-up:before { content: '\e945'; } /* '' */
.appicon-sort-number-down:before { content: '\e946'; } /* '' */
.appicon-hammer:before { content: '\e947'; } /* '' */
.appicon-gauge:before { content: '\e948'; } /* '' */
.appicon-sitemap:before { content: '\e949'; } /* '' */
.appicon-spinner:before { content: '\e94a'; } /* '' */
.appicon-coffee:before { content: '\e94b'; } /* '' */
.appicon-food:before { content: '\e94c'; } /* '' */
.appicon-beer:before { content: '\e94d'; } /* '' */
.appicon-user-md:before { content: '\e94e'; } /* '' */
.appicon-stethoscope:before { content: '\e94f'; } /* '' */
.appicon-heartbeat:before { content: '\e950'; } /* '' */
.appicon-ambulance:before { content: '\e951'; } /* '' */
.appicon-medkit:before { content: '\e952'; } /* '' */
.appicon-h-sigh:before { content: '\e953'; } /* '' */
.appicon-bed:before { content: '\e954'; } /* '' */
.appicon-hospital:before { content: '\e955'; } /* '' */
.appicon-building-filled:before { content: '\e956'; } /* '' */
.appicon-bank:before { content: '\e957'; } /* '' */
.appicon-smile:before { content: '\e958'; } /* '' */
.appicon-frown:before { content: '\e959'; } /* '' */
.appicon-meh:before { content: '\e95a'; } /* '' */
.appicon-anchor:before { content: '\e95b'; } /* '' */
.appicon-terminal-1:before { content: '\e95c'; } /* '' */
.appicon-eraser:before { content: '\e95d'; } /* '' */
.appicon-puzzle:before { content: '\e95e'; } /* '' */
.appicon-shield:before { content: '\e95f'; } /* '' */
.appicon-extinguisher:before { content: '\e960'; } /* '' */
.appicon-bullseye:before { content: '\e961'; } /* '' */
.appicon-wheelchair:before { content: '\e962'; } /* '' */
.appicon-language:before { content: '\e963'; } /* '' */
.appicon-graduation-cap:before { content: '\e964'; } /* '' */
.appicon-paw:before { content: '\e965'; } /* '' */
.appicon-spoon:before { content: '\e966'; } /* '' */
.appicon-cube:before { content: '\e967'; } /* '' */
.appicon-cubes:before { content: '\e968'; } /* '' */
.appicon-tree:before { content: '\e969'; } /* '' */
.appicon-database:before { content: '\e96a'; } /* '' */
.appicon-server:before { content: '\e96b'; } /* '' */
.appicon-lifebuoy:before { content: '\e96c'; } /* '' */
.appicon-rebel:before { content: '\e96d'; } /* '' */
.appicon-empire:before { content: '\e96e'; } /* '' */
.appicon-bomb:before { content: '\e96f'; } /* '' */
.appicon-soccer-ball:before { content: '\e970'; } /* '' */
.appicon-tty:before { content: '\e971'; } /* '' */
.appicon-binoculars:before { content: '\e972'; } /* '' */
.appicon-plug:before { content: '\e973'; } /* '' */
.appicon-newspaper:before { content: '\e974'; } /* '' */
.appicon-calc:before { content: '\e975'; } /* '' */
.appicon-copyright:before { content: '\e976'; } /* '' */
.appicon-at:before { content: '\e977'; } /* '' */
.appicon-eyedropper:before { content: '\e978'; } /* '' */
.appicon-brush:before { content: '\e979'; } /* '' */
.appicon-birthday:before { content: '\e97a'; } /* '' */
.appicon-diamond:before { content: '\e97b'; } /* '' */
.appicon-venus:before { content: '\e97c'; } /* '' */
.appicon-mars:before { content: '\e97d'; } /* '' */
.appicon-mercury:before { content: '\e97e'; } /* '' */
.appicon-transgender:before { content: '\e97f'; } /* '' */
.appicon-transgender-alt:before { content: '\e980'; } /* '' */
.appicon-venus-double:before { content: '\e981'; } /* '' */
.appicon-mars-double:before { content: '\e982'; } /* '' */
.appicon-venus-mars:before { content: '\e983'; } /* '' */
.appicon-mars-stroke:before { content: '\e984'; } /* '' */
.appicon-mars-stroke-v:before { content: '\e985'; } /* '' */
.appicon-mars-stroke-h:before { content: '\e986'; } /* '' */
.appicon-neuter:before { content: '\e987'; } /* '' */
.appicon-cc-visa:before { content: '\e988'; } /* '' */
.appicon-cc-mastercard:before { content: '\e989'; } /* '' */
.appicon-cc-discover:before { content: '\e98a'; } /* '' */
.appicon-cc-amex:before { content: '\e98b'; } /* '' */
.appicon-cc-paypal:before { content: '\e98c'; } /* '' */
.appicon-cc-stripe:before { content: '\e98d'; } /* '' */
.appicon-adn:before { content: '\e98e'; } /* '' */
.appicon-angellist-1:before { content: '\e98f'; } /* '' */
.appicon-apple:before { content: '\e990'; } /* '' */
.appicon-behance:before { content: '\e991'; } /* '' */
.appicon-behance-squared:before { content: '\e992'; } /* '' */
.appicon-bitbucket-1:before { content: '\e993'; } /* '' */
.appicon-bitbucket-squared:before { content: '\e994'; } /* '' */
.appicon-buysellads:before { content: '\e995'; } /* '' */
.appicon-cc-1:before { content: '\e996'; } /* '' */
.appicon-codeopen:before { content: '\e997'; } /* '' */
.appicon-connectdevelop:before { content: '\e998'; } /* '' */
.appicon-css3:before { content: '\e999'; } /* '' */
.appicon-dashcube:before { content: '\e99a'; } /* '' */
.appicon-delicious-1:before { content: '\e99b'; } /* '' */
.appicon-deviantart:before { content: '\e99c'; } /* '' */
.appicon-digg-1:before { content: '\e99d'; } /* '' */
.appicon-dribbble-1:before { content: '\e99e'; } /* '' */
.appicon-dropbox-1:before { content: '\e99f'; } /* '' */
.appicon-drupal-1:before { content: '\e9a0'; } /* '' */
.appicon-facebook-1:before { content: '\e9a1'; } /* '' */
.appicon-facebook-official:before { content: '\e9a2'; } /* '' */
.appicon-flickr-1:before { content: '\e9a3'; } /* '' */
.appicon-forumbee:before { content: '\e9a4'; } /* '' */
.appicon-foursquare-1:before { content: '\e9a5'; } /* '' */
.appicon-git-squared:before { content: '\e9a6'; } /* '' */
.appicon-git:before { content: '\e9a7'; } /* '' */
.appicon-github-1:before { content: '\e9a8'; } /* '' */
.appicon-github-squared:before { content: '\e9a9'; } /* '' */
.appicon-github-circled-1:before { content: '\e9aa'; } /* '' */
.appicon-gittip:before { content: '\e9ab'; } /* '' */
.appicon-google-1:before { content: '\e9ac'; } /* '' */
.appicon-gplus-1:before { content: '\e9ad'; } /* '' */
.appicon-gplus-squared:before { content: '\e9ae'; } /* '' */
.appicon-gwallet:before { content: '\e9af'; } /* '' */
.appicon-hacker-news:before { content: '\e9b0'; } /* '' */
.appicon-html5-1:before { content: '\e9b1'; } /* '' */
.appicon-instagram-1:before { content: '\e9b2'; } /* '' */
.appicon-ioxhost:before { content: '\e9b3'; } /* '' */
.appicon-joomla:before { content: '\e9b4'; } /* '' */
.appicon-lastfm-1:before { content: '\e9b5'; } /* '' */
.appicon-lastfm-squared:before { content: '\e9b6'; } /* '' */
.appicon-leanpub:before { content: '\e9b7'; } /* '' */
.appicon-linkedin-squared:before { content: '\e9b8'; } /* '' */
.appicon-linux:before { content: '\e9b9'; } /* '' */
.appicon-linkedin-1:before { content: '\e9ba'; } /* '' */
.appicon-maxcdn:before { content: '\e9bb'; } /* '' */
.appicon-meanpath:before { content: '\e9bc'; } /* '' */
.appicon-openid-1:before { content: '\e9bd'; } /* '' */
.appicon-pagelines:before { content: '\e9be'; } /* '' */
.appicon-paypal-1:before { content: '\e9bf'; } /* '' */
.appicon-pied-piper-squared:before { content: '\e9c0'; } /* '' */
.appicon-pied-piper-alt:before { content: '\e9c1'; } /* '' */
.appicon-pinterest-1:before { content: '\e9c2'; } /* '' */
.appicon-pinterest-circled:before { content: '\e9c3'; } /* '' */
.appicon-pinterest-squared:before { content: '\e9c4'; } /* '' */
.appicon-qq:before { content: '\e9c5'; } /* '' */
.appicon-reddit-1:before { content: '\e9c6'; } /* '' */
.appicon-reddit-squared:before { content: '\e9c7'; } /* '' */
.appicon-sellsy:before { content: '\e9c8'; } /* '' */
.appicon-shirtsinbulk:before { content: '\e9c9'; } /* '' */
.appicon-simplybuilt:before { content: '\e9ca'; } /* '' */
.appicon-skyatlas:before { content: '\e9cb'; } /* '' */
.appicon-skype-2:before { content: '\e9cc'; } /* '' */
.appicon-slack:before { content: '\e9cd'; } /* '' */
.appicon-slideshare:before { content: '\e9ce'; } /* '' */
.appicon-soundcloud-1:before { content: '\e9cf'; } /* '' */
.appicon-spotify-1:before { content: '\e9d0'; } /* '' */
.appicon-stackexchange:before { content: '\e9d1'; } /* '' */
.appicon-stackoverflow-1:before { content: '\e9d2'; } /* '' */
.appicon-steam-1:before { content: '\e9d3'; } /* '' */
.appicon-steam-squared:before { content: '\e9d4'; } /* '' */
.appicon-stumbleupon-1:before { content: '\e9d5'; } /* '' */
.appicon-stumbleupon-circled:before { content: '\e9d6'; } /* '' */
.appicon-tencent-weibo:before { content: '\e9d7'; } /* '' */
.appicon-trello:before { content: '\e9d8'; } /* '' */
.appicon-tumblr-1:before { content: '\e9d9'; } /* '' */
.appicon-tumblr-squared:before { content: '\e9da'; } /* '' */
.appicon-twitter-squared:before { content: '\e9db'; } /* '' */
.appicon-twitter-1:before { content: '\e9dc'; } /* '' */
.appicon-vimeo-squared:before { content: '\e9dd'; } /* '' */
.appicon-vine:before { content: '\e9de'; } /* '' */
.appicon-vkontakte:before { content: '\e9df'; } /* '' */
.appicon-whatsapp:before { content: '\e9e0'; } /* '' */
.appicon-wechat:before { content: '\e9e1'; } /* '' */
.appicon-weibo-1:before { content: '\e9e2'; } /* '' */
.appicon-windows-1:before { content: '\e9e3'; } /* '' */
.appicon-wordpress-1:before { content: '\e9e4'; } /* '' */
.appicon-xing-1:before { content: '\e9e5'; } /* '' */
.appicon-xing-squared:before { content: '\e9e6'; } /* '' */
.appicon-yelp-1:before { content: '\e9e7'; } /* '' */
.appicon-youtube-2:before { content: '\e9e8'; } /* '' */
.appicon-yahoo-1:before { content: '\e9e9'; } /* '' */
.appicon-youtube-squared:before { content: '\e9ea'; } /* '' */
.appicon-youtube-play:before { content: '\e9eb'; } /* '' */
.appicon-blank:before { content: '\e9ec'; } /* '' */
.appicon-lemon:before { content: '\e9ed'; } /* '' */
.appicon-user-secret:before { content: '\e9ee'; } /* '' */
.appicon-minus:before { content: '\e9ef'; } /* '' */
.appicon-tag-1:before { content: '\e9f0'; } /* '' */
.appicon-code-1:before { content: '\e9f1'; } /* '' */
.appicon-attention-alt:before { content: '\e9f2'; } /* '' */
.appicon-file-video:before { content: '\e9f3'; } /* '' */
.appicon-calendar-1:before { content: '\e9f4'; } /* '' */
.appicon-zoom-out:before { content: '\e9f5'; } /* '' */
.appicon-angle-circled-down:before { content: '\e9f6'; } /* '' */
.appicon-down-circled:before { content: '\e9f7'; } /* '' */
.appicon-to-start:before { content: '\e9f8'; } /* '' */
.appicon-flight:before { content: '\e9f9'; } /* '' */
.appicon-indent-right-1:before { content: '\e9fa'; } /* '' */
.appicon-barcode:before { content: '\e9fb'; } /* '' */
.appicon-chart-line:before { content: '\e9fc'; } /* '' */
.appicon-motorcycle:before { content: '\e9fd'; } /* '' */
.appicon-sort-alt-down:before { content: '\e9fe'; } /* '' */
.appicon-building:before { content: '\e9ff'; } /* '' */
.appicon-recycle:before { content: '\ea00'; } /* '' */
.appicon-street-view:before { content: '\ea01'; } /* '' */
.appicon-android-1:before { content: '\ea02'; } /* '' */
.appicon-facebook-squared:before { content: '\ea03'; } /* '' */
.appicon-jsfiddle:before { content: '\ea04'; } /* '' */
.appicon-renren:before { content: '\ea05'; } /* '' */
.appicon-twitch:before { content: '\ea06'; } /* '' */
.appicon-duckduckgo:before { content: '\ea07'; } /* '' */
.appicon-aim:before { content: '\ea08'; } /* '' */
.appicon-delicious:before { content: '\ea09'; } /* '' */
.appicon-paypal:before { content: '\ea0a'; } /* '' */
.appicon-flattr:before { content: '\ea0b'; } /* '' */
.appicon-android:before { content: '\ea0c'; } /* '' */
.appicon-eventful:before { content: '\ea0d'; } /* '' */
.appicon-smashmag:before { content: '\ea0e'; } /* '' */
.appicon-gplus:before { content: '\ea0f'; } /* '' */
.appicon-wikipedia:before { content: '\ea10'; } /* '' */
.appicon-lanyrd:before { content: '\ea11'; } /* '' */
.appicon-calendar:before { content: '\ea12'; } /* '' */
.appicon-stumbleupon:before { content: '\ea13'; } /* '' */
.appicon-fivehundredpx:before { content: '\ea14'; } /* '' */
.appicon-pinterest:before { content: '\ea15'; } /* '' */
.appicon-bitcoin:before { content: '\ea16'; } /* '' */
.appicon-w3c:before { content: '\ea17'; } /* '' */
.appicon-foursquare:before { content: '\ea18'; } /* '' */
.appicon-html5:before { content: '\ea19'; } /* '' */
.appicon-ie:before { content: '\ea1a'; } /* '' */
.appicon-call:before { content: '\ea1b'; } /* '' */
.appicon-grooveshark:before { content: '\ea1c'; } /* '' */
.appicon-ninetyninedesigns:before { content: '\ea1d'; } /* '' */
.appicon-forrst:before { content: '\ea1e'; } /* '' */
.appicon-digg:before { content: '\ea1f'; } /* '' */
.appicon-spotify:before { content: '\ea20'; } /* '' */
.appicon-reddit:before { content: '\ea21'; } /* '' */
.appicon-guest:before { content: '\ea22'; } /* '' */
.appicon-gowalla:before { content: '\ea23'; } /* '' */
.appicon-appstore:before { content: '\ea24'; } /* '' */
.appicon-blogger:before { content: '\ea25'; } /* '' */
.appicon-cc:before { content: '\ea26'; } /* '' */
.appicon-dribbble:before { content: '\ea27'; } /* '' */
.appicon-evernote:before { content: '\ea28'; } /* '' */
.appicon-flickr:before { content: '\ea29'; } /* '' */
.appicon-google:before { content: '\ea2a'; } /* '' */
.appicon-viadeo:before { content: '\ea2b'; } /* '' */
.appicon-instapaper:before { content: '\ea2c'; } /* '' */
.appicon-weibo:before { content: '\ea2d'; } /* '' */
.appicon-klout:before { content: '\ea2e'; } /* '' */
.appicon-linkedin:before { content: '\ea2f'; } /* '' */
.appicon-meetup:before { content: '\ea30'; } /* '' */
.appicon-vk:before { content: '\ea31'; } /* '' */
.appicon-plancast:before { content: '\ea32'; } /* '' */
.appicon-disqus:before { content: '\ea33'; } /* '' */
.appicon-rss-1:before { content: '\ea34'; } /* '' */
.appicon-skype-1:before { content: '\ea35'; } /* '' */
.appicon-twitter:before { content: '\ea36'; } /* '' */
.appicon-youtube-1:before { content: '\ea37'; } /* '' */
.appicon-vimeo:before { content: '\ea38'; } /* '' */
.appicon-windows:before { content: '\ea39'; } /* '' */
.appicon-xing:before { content: '\ea3a'; } /* '' */
.appicon-yahoo:before { content: '\ea3b'; } /* '' */
.appicon-chrome:before { content: '\ea3c'; } /* '' */
.appicon-email:before { content: '\ea3d'; } /* '' */
.appicon-macstore:before { content: '\ea3e'; } /* '' */
.appicon-myspace:before { content: '\ea3f'; } /* '' */
.appicon-podcast:before { content: '\ea40'; } /* '' */
.appicon-amazon:before { content: '\ea41'; } /* '' */
.appicon-steam:before { content: '\ea42'; } /* '' */
.appicon-cloudapp:before { content: '\ea43'; } /* '' */
.appicon-dropbox:before { content: '\ea44'; } /* '' */
.appicon-ebay:before { content: '\ea45'; } /* '' */
.appicon-facebook:before { content: '\ea46'; } /* '' */
.appicon-github:before { content: '\ea47'; } /* '' */
.appicon-github-circled:before { content: '\ea48'; } /* '' */
.appicon-googleplay:before { content: '\ea49'; } /* '' */
.appicon-itunes:before { content: '\ea4a'; } /* '' */
.appicon-plurk:before { content: '\ea4b'; } /* '' */
.appicon-songkick:before { content: '\ea4c'; } /* '' */
.appicon-lastfm:before { content: '\ea4d'; } /* '' */
.appicon-gmail:before { content: '\ea4e'; } /* '' */
.appicon-pinboard:before { content: '\ea4f'; } /* '' */
.appicon-openid:before { content: '\ea50'; } /* '' */
.appicon-quora:before { content: '\ea51'; } /* '' */
.appicon-soundcloud:before { content: '\ea52'; } /* '' */
.appicon-tumblr:before { content: '\ea53'; } /* '' */
.appicon-eventasaurus:before { content: '\ea54'; } /* '' */
.appicon-wordpress:before { content: '\ea55'; } /* '' */
.appicon-yelp:before { content: '\ea56'; } /* '' */
.appicon-intensedebate:before { content: '\ea57'; } /* '' */
.appicon-eventbrite:before { content: '\ea58'; } /* '' */
.appicon-scribd:before { content: '\ea59'; } /* '' */
.appicon-posterous:before { content: '\ea5a'; } /* '' */
.appicon-stripe:before { content: '\ea5b'; } /* '' */
.appicon-opentable:before { content: '\ea5c'; } /* '' */
.appicon-cart:before { content: '\ea5d'; } /* '' */
.appicon-print:before { content: '\ea5e'; } /* '' */
.appicon-angellist:before { content: '\ea5f'; } /* '' */
.appicon-instagram:before { content: '\ea60'; } /* '' */
.appicon-dwolla:before { content: '\ea61'; } /* '' */
.appicon-appnet:before { content: '\ea62'; } /* '' */
.appicon-statusnet:before { content: '\ea63'; } /* '' */
.appicon-acrobat:before { content: '\ea64'; } /* '' */
.appicon-drupal:before { content: '\ea65'; } /* '' */
.appicon-buffer:before { content: '\ea66'; } /* '' */
.appicon-pocket:before { content: '\ea67'; } /* '' */
.appicon-bitbucket:before { content: '\ea68'; } /* '' */
.appicon-lego:before { content: '\ea69'; } /* '' */
.appicon-login:before { content: '\ea6a'; } /* '' */
.appicon-stackoverflow:before { content: '\ea6b'; } /* '' */
.appicon-hackernews:before { content: '\ea6c'; } /* '' */
.appicon-lkdto:before { content: '\ea6d'; } /* '' */
.appicon-search:before { content: '\ea6e'; } /* '' */
.appicon-mail:before { content: '\ea6f'; } /* '' */
.appicon-heart:before { content: '\ea70'; } /* '' */
.appicon-heart-empty:before { content: '\ea71'; } /* '' */
.appicon-star:before { content: '\ea72'; } /* '' */
.appicon-user:before { content: '\ea73'; } /* '' */
.appicon-video:before { content: '\ea74'; } /* '' */
.appicon-picture:before { content: '\ea75'; } /* '' */
.appicon-th-large:before { content: '\ea76'; } /* '' */
.appicon-th:before { content: '\ea77'; } /* '' */
.appicon-th-list:before { content: '\ea78'; } /* '' */
.appicon-ok:before { content: '\ea79'; } /* '' */
.appicon-ok-circle:before { content: '\ea7a'; } /* '' */
.appicon-cancel:before { content: '\ea7b'; } /* '' */
.appicon-cancel-circle:before { content: '\ea7c'; } /* '' */
.appicon-plus-circle:before { content: '\ea7d'; } /* '' */
.appicon-minus-circle:before { content: '\ea7e'; } /* '' */
.appicon-link:before { content: '\ea7f'; } /* '' */
.appicon-attach:before { content: '\ea80'; } /* '' */
.appicon-lock:before { content: '\ea81'; } /* '' */
.appicon-lock-open:before { content: '\ea82'; } /* '' */
.appicon-tag:before { content: '\ea83'; } /* '' */
.appicon-reply:before { content: '\ea84'; } /* '' */
.appicon-reply-all:before { content: '\ea85'; } /* '' */
.appicon-forward:before { content: '\ea86'; } /* '' */
.appicon-code:before { content: '\ea87'; } /* '' */
.appicon-retweet:before { content: '\ea88'; } /* '' */
.appicon-comment:before { content: '\ea89'; } /* '' */
.appicon-comment-alt:before { content: '\ea8a'; } /* '' */
.appicon-chat:before { content: '\ea8b'; } /* '' */
.appicon-attention:before { content: '\ea8c'; } /* '' */
.appicon-location:before { content: '\ea8d'; } /* '' */
.appicon-doc:before { content: '\ea8e'; } /* '' */
.appicon-docs-landscape:before { content: '\ea8f'; } /* '' */
.appicon-folder:before { content: '\ea90'; } /* '' */
.appicon-archive:before { content: '\ea91'; } /* '' */
.appicon-rss:before { content: '\ea92'; } /* '' */
.appicon-rss-alt:before { content: '\ea93'; } /* '' */
.appicon-cog:before { content: '\ea94'; } /* '' */
.appicon-logout:before { content: '\ea95'; } /* '' */
.appicon-clock:before { content: '\ea96'; } /* '' */
.appicon-block:before { content: '\ea97'; } /* '' */
.appicon-resize-full:before { content: '\ea98'; } /* '' */
.appicon-resize-full-circle:before { content: '\ea99'; } /* '' */
.appicon-popup:before { content: '\ea9a'; } /* '' */
.appicon-left-open:before { content: '\ea9b'; } /* '' */
.appicon-right-open:before { content: '\ea9c'; } /* '' */
.appicon-down-circle:before { content: '\ea9d'; } /* '' */
.appicon-left-circle:before { content: '\ea9e'; } /* '' */
.appicon-right-circle:before { content: '\ea9f'; } /* '' */
.appicon-up-circle:before { content: '\eaa0'; } /* '' */
.appicon-down-dir:before { content: '\eaa1'; } /* '' */
.appicon-right-dir:before { content: '\eaa2'; } /* '' */
.appicon-down-micro:before { content: '\eaa3'; } /* '' */
.appicon-up-micro:before { content: '\eaa4'; } /* '' */
.appicon-cw-circle:before { content: '\eaa5'; } /* '' */
.appicon-arrows-cw:before { content: '\eaa6'; } /* '' */
.appicon-updown-circle:before { content: '\eaa7'; } /* '' */
.appicon-target:before { content: '\eaa8'; } /* '' */
.appicon-signal:before { content: '\eaa9'; } /* '' */
.appicon-progress-0:before { content: '\eaaa'; } /* '' */
.appicon-progress-1:before { content: '\eaab'; } /* '' */
.appicon-progress-2:before { content: '\eaac'; } /* '' */
.appicon-progress-3:before { content: '\eaad'; } /* '' */
.appicon-progress-4:before { content: '\eaae'; } /* '' */
.appicon-progress-5:before { content: '\eaaf'; } /* '' */
.appicon-progress-6:before { content: '\eab0'; } /* '' */
.appicon-progress-7:before { content: '\eab1'; } /* '' */
.appicon-font:before { content: '\eab2'; } /* '' */
.appicon-list:before { content: '\eab3'; } /* '' */
.appicon-list-numbered:before { content: '\eab4'; } /* '' */
.appicon-indent-left:before { content: '\eab5'; } /* '' */
.appicon-indent-right:before { content: '\eab6'; } /* '' */
.appicon-cloud:before { content: '\eab7'; } /* '' */
.appicon-terminal:before { content: '\eab8'; } /* '' */
.appicon-facebook-rect:before { content: '\eab9'; } /* '' */
.appicon-twitter-bird:before { content: '\eaba'; } /* '' */
.appicon-vimeo-rect:before { content: '\eabb'; } /* '' */
.appicon-tumblr-rect:before { content: '\eabc'; } /* '' */
.appicon-googleplus-rect:before { content: '\eabd'; } /* '' */
.appicon-linkedin-rect:before { content: '\eabe'; } /* '' */
.appicon-skype:before { content: '\eabf'; } /* '' */
.appicon-vkontakte-rect:before { content: '\eac0'; } /* '' */
.appicon-youtube:before { content: '\eac1'; } /* '' */
.appicon-odnoklassniki-rect:before { content: '\eac2'; } /* '' */
.appicon-art-gallery:before { content: '\eac3'; } /* '' */